#navLinks {
  flex-direction: row;
}

#navLinks > li {
  margin-right: 0.4rem;
}

.card {
  /* aspect-ratio: 3/9; */
  width: 18rem;
}

#form-box {
  width: 75%;
}

.width75 {
  width: 75% !important;
}

.nav-item {
  border-radius: 1rem;
  padding: 0.3rem;
}

.logout {
  background-color: #eb1d36;
}
